$primary-color: #ED681D;
$secondary-color: #FFFFFF;
$text-color: #000000;
$nav-text-color: #FFFFFF;
$nav-border: #DBDBDB;
$shadow-color: rgba(0, 0, 0, 0.3);
$nav-hover: #353935;
$checkmark-color: #28a745;
$footer-color: #e3e3e3;
$member-bg: #ffd4b0;
$success-message-bg: #d4edda;
$success-message-color: #155724;
$success-message-border: #c3e6cb;
$error-message-bg: #f8d7da;
$error-message-color: #721c24;
$error-message-border: #f5c6cb;
$img-border: #CCC;

.btn-primary {
    background-color: $primary-color;
    color: $secondary-color;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    border: none;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid $secondary-color;

    &:hover {
        background-color: darken($primary-color, 10%);
        border: 1px solid $secondary-color;
    }
}

.section {
    padding: 150px 20px;

    @media (max-width: 768px) {
        padding: 100px 5px;
        font-size: 15px;

    }
}

.section2 {
    padding: 100px 20px;

    @media (max-width: 768px) {
        padding: 100px 5px;
        font-size: 15px;

    }
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #ff3035;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    @media (max-width: 480px) {
        font-size: 30px;
    }
}